:root {
    --main-color: #162521;
    --main-color-2: #25D083;
    --main-color-3: #fc5185;
    --main-font: 'Righteous';
}

body {
    background-color: var(--main-color);
    font-family: var(--main-font);
    margin: 0;
}

.banner {
    position: absolute;
    color: var(--main-color-2);
    text-shadow: 3px 3px var(--main-color-3);
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    width: 100%;
    text-align: center;
    user-select: none;
}

.intro-start-btn {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 50px;
    font-size: 15px;
}

.form-container {
    display: flex;
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, 0);
    width: 800px;
    height: 200px;
}

.info-request {
    position: absolute;
    color: var(--main-color-2);
    left: 50%;
    top: 15%;
    transform: translate(-50%, 0);
    font-size: 28px;
}

.text-container {
    position: absolute;
    background-color: var(--main-color-2);
    width: 400px;
    height: 40px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50px;
}

.input-text-box {
    position: relative;
    background-color: var(--main-color-2);
    outline: none;
    border: none;
    width: 85%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--main-font);
    font-size: 15px;
}

.submit-btn {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, 0);
    width: 150px;
    padding: 10px 10px 10px 10px;
}

.credit {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    color: var(--main-color-2);
    opacity: .5;
    user-select: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--main-color-3);
    opacity: 1;
}

.main-container {
    display: none;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-color);
    border: 5px solid var(--main-color-2);
    border-radius: 5px;
    height: 500px;
    width: 400px;
}

.heading-container {
    position: relative;
    border: 5px solid var(--main-color-2);
    border-radius: 5px;
    background-color: var(--main-color);
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 75%;
    height: 80px;
}

.heading {
    color: var(--main-color-2);
    text-shadow: 3px 3px var(--main-color-3);
    text-align: center;
    user-select: none;

}

.buttons-container {
    display: flex;
    position: relative;
    top: 8%;
    justify-content: space-evenly;
}

button {
    background-color: var(--main-color-2);
    min-width: 100px;
    padding: 5px 10px 5px 10px;
    font-family: var(--main-font);
    border-radius: 10px;
    border: none;
    opacity: .8;
    user-select: none;

}

button:active {
    opacity: 1;
}

button:hover {
    cursor: pointer;
}

.tile-container {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

.tiles {
    display: flex;
    width: 85px;
    height: 85px;
    background-color: var(--main-color-2);
    margin: 2px;
    opacity: .8;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    user-select: none;
}

.tiles:active {
    opacity: 1;
}

.rows {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.winner-display {
    position: absolute;
    color: var(--main-color-2);
    text-shadow: 3px 3px var(--main-color-3);
    font-size: 80px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.play-again-btn {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 50px;
    font-size: 15px;
}


@media (max-width: 450px) {
    .banner {
        position: absolute;
        color: var(--main-color-2);
        text-shadow: 3px 3px var(--main-color-3);
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 60px;
        width: 100%;
        text-align: center;
    }

    .intro-start-btn {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 150px;
        height: 50px;
        font-size: 15px;
    }

    .text-container {
        position: absolute;
        background-color: var(--main-color-2);
        width: 300px;
        height: 40px;
        top: 40%;
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 50px;
    }
    
    .input-text-box {
        position: relative;
        background-color: var(--main-color-2);
        outline: none;
        border: none;
        width: 85%;
        height: 70%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: var(--main-font);
        font-size: 15px;
    }
}

@media (orientation: landscape) and (max-width: 800px) {
    .banner {
        top: 30%;
        font-size: 60px;
        text-align: center;
    }

    .intro-start-btn {
        top: 70%;
        transform: translate(-50%, -50%);
    }

    .text-container {
        position: absolute;
        background-color: var(--main-color-2);
        width: 300px;
        height: 40px;
        border-radius: 50px;
    }

    .main-container {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--main-color);
        border: none;
        border-radius: 0;
        height: 100vh;
        width: 100vw;
    }

    .heading-container {
        position: relative;
        border: none;
        border-radius: none;
        background-color: var(--main-color);
        top: 5%;
        left: 24%;
        width: 50%;
        height: 80px;
        font-size: 20px;
    }

    .buttons-container {
        display: flex;
        position: relative;
        flex-direction: column;
        top: 0;
        left: 13%;
        margin: 0;
        width: 150px;
        height: 100px;
    }

    .tile-container {
        position: relative;
        top: 0px;
        left: 70%;
        transform: translate(-50%, -55%);    
    }

    .credit {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        color: var(--main-color-2);
        opacity: .5;
    }

    .winner-display {
        position: absolute;
        color: var(--main-color-2);
        text-shadow: 3px 3px var(--main-color-3);
        font-size: 50px;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
    }
    
    .play-again-btn {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 125px;
        height: 35px;
        font-size: 15px;
    }
}